.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._形状 {
}
._图片 {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.line {
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.image {
}
.title {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.primary_text_light {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.secondary_text_light {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
.disabled_text_light {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
.flat_button {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.status_bar_dark {
}
.title_bar_dark {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
.content_bg_dark {
}
.dialog_dark {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
.shape {
}
.image1 {
  color:#000000;
}
.horizontal_line {
}
._形状1 {
}
._图片1 {
  color:#000000;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._文本段落1 {
  text-align:left;
}
.shape1 {
}
.title_bar_light {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.content_bg_light {
}
.headline {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.primary_text_dark {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.secondary_text_dark {
  font-family:'Roboto Light', 'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.shape2 {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
._文本段落2 {
  text-align:left;
}
.image2 {
  color:#000000;
}
.checkbox {
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.table {
}
.box_11 {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.horizontal_line1 {
}
.paragraph {
  text-align:left;
}
.fontawesome {
}
.image3 {
}
._well {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.vertical_line {
}
._文本框 {
  color:#000000;
  text-align:left;
}
.line1 {
}
.button {
}
._文本段落3 {
  font-size:10px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
